@import '../../../assets/variables.scss';
.mySwiper {
  width: 100%;
  height: 100vh;
  background-color: $light;
  .item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img.banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 8s ease;
    }
  }
 
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
  }

  .content {
    max-width: 650px;
    margin: 40px;
    .title {
      font-size:4rem; 
      line-height: 80px;
      font-weight: 600;
    }

    .sub-title {
      font-size: 1.8rem;
      color:$dark ; 
      line-height: 80px;
    }

    .title, .sub-title {
      font-weight: 500;
    }

    .feature-list {
        display: flex;         
        gap: 30px;               
        justify-content: start;  

        li {
            display: flex;
            flex-direction: column;  
            align-items: center;    
            text-align: center;
            transition: transform 0.3s ease;  

            img {
                margin-bottom: 8px;   
            }

            &:hover {
                transform: translateY(-5px);  
            }
        }
    }

    @media (max-width: 800px) {
      .title { 
        font-size: 1.8rem;
        line-height:40px;
      }
    }

    @media (max-width: 500px) {
      
        width: 100%;
        max-width: 100%;
        margin: 10px;
       
      .title { 
        font-size: 2rem;
        line-height:40px;
      }

      .sub-title {
        color: $black;
        line-height:40px;
        font-size: 1.2rem;
      }

      .feature-list { 
        li {
          img {
            height: 30px !important;
            width: 30px !important;
          }
        }
      }
    }
  }
  
 @media (max-width: 768px) {
    .overlay {
      padding-left: 20px;
      background-color: #f8d9b86e;
    }
  }

  //  @media (max-width: 500px) {
  //  .overlay {
  //     background-color: #f8d9b86e;
  //   }
  // }
}

::ng-deep {
  .swiper-slide-active .item img {
    transform: scale(1.2);  
  }
  
  .swiper-button-next, .swiper-button-prev {
    display: none !important;
  }
}