@import '../../assets/variables.scss';
.navbar {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 1000;
  //box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
  .mx-auto { text-align: center; }
 
  .navbar-nav .nav-link {
    font-weight: 500;
    color: $light;
    
    &.active { color: $black; }
  }
 
  &.scrolled {
    background-color: $light !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    .nav-link {
      font-weight: 500;
      color: $dark !important;
    }
  }
}