<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-md-6 col-6 my-3">
               <h4 class="text-default">Products</h4>
                <ul class="list-unstyled m-0 p-0">
                    <li><a>Skin & Bodycare</a></li>
                    <li><a>Egyptian Cotton</a></li>
                    <li><a>Honey</a></li>
                    <li><a>Herbs & Spices</a></li>
                    <li><a>Essential Oils</a></li>
                </ul>
            </div>

            <div class="col-xl-2 col-md-6 col-6 my-3">
                <h4 class="text-default">About</h4>
                <ul class="list-unstyled m-0 p-0">
                    <li><a>Contact Us</a></li>
                    <li><a>About Mandisa</a></li>
                    <li><a>Mandisa Export</a></li>
                    <li><a>Request Samples</a> </li>
                </ul>
            </div>

            <div class="col-xl-4 col-md-6 col-12 my-3">
                <h4 class="text-default">Contact Info</h4>
                <ul class="list-unstyled m-0 p-0">
                    <li> 20 Gomeai, Fleming. Alexandria 21531, Egypt. </li>
                    <li> IX TOWERS, Dongtancheomdansaneop 1-ro. A2427 Hwaseong-si, Gyeonggi-do. Republic Of Korea </li>
                    <li><a>+20220202020</a></li>
                    <li><a>+20312322222</a></li>
                    <li><a>{{'mandisa@gmail.com'}}</a></li> 
                </ul>
            </div>

             <div class="col-xl-4 col-md-6 col-12 my-3">
                <h4 class="text-default">Get In Touch</h4>
                <ul class="list-unstyled m-0 p-0">
                    <li> Connect with us on social media </li>
                    <li> IX TOWERS, Dongtancheomdansaneop 1-ro. A2427 Hwaseong-si, Gyeonggi-do. Republic Of Korea </li>
                </ul>
            </div>
        </div>
        <div class="row copyrights">
            <div class="col-12 text-center mt-3">
                <p class="mb-0">All Copyrights Are Reserved  &copy; Mandisa 2026</p>
            </div>
        </div>
    </div>
</section>