@import '../../../assets/variables.scss';
.about-us {
    //min-height:80vh;
    
    @media (max-width: 768px) {
        margin-top: 0px !important;
    }

    .left-side {
        position: relative;
        padding: 50px;
        border-left: 1px solid $dark;
        border-right: none;
        border-top: none;
        border-bottom: none;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;       
            width: 85%;     
            border-top: 1px solid $dark;
            transition: width 0.6s ease;  
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;    
            width: 85%;      
            border-bottom: 1px solid $dark;
            transition: width 0.6s ease;
        }

        .about-us { 
            background-image: url('https://mandisanaturals.com/wp-content/uploads/elementor/thumbs/home-featured-2-r0fnyd5rxckz542xv13r2zczokoz7k7jp3qydk6gam.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            transition: transform 0.6s ease; 
            @media (max-width: 768px) {
               height: 250px;
            }
            
            @media (max-width:500px) {
               display:none !important;
            }
        }

        @media (max-width: 768px) {
            // height: 250px;
            // padding: 0px;
            // &::before , &::after { 
            //     width: 100%;   
            // }
             display:none !important;
        }

        // @media (max-width:500px) {
        //    display:none !important;
        // }

        &:hover {
            .about-us {
               transform: scale(1.1);  
            }

            &::before {
               width: 96%;       
            }

            &::after {
              width: 96%;       
            }
        }
    }
}
 