@import '../../../assets/variables.scss';

.products {
  .left-side {
    .product {
        position: relative;
        background-image: url('https://mandisanaturals.com/wp-content/uploads/2020/11/mandisa-naturals-sampels-products.jpg.webp');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 250px;  
        transition: transform 0.6s ease;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            overflow: hidden;

            .content {
            opacity: 0;                
            transform: translateY(20px); 
            transition: all 0.5s ease;   
            text-align: center;
            }
        }

        &:hover {
            transform: scaleX(0.9);  

            .overlay { 
                background-color: #d3b08a6e;
                .content {
                    opacity: 1;               
                    transform: translateY(0);  
                }
            }
        }

        @media (min-width: 425px) and (max-width: 1023px) {
            height: 325px; 
        }

        @media (min-width: 1024px) {
            height: 470px;  
        }
    }
  }
}

::ng-deep {
  .right-side { 
    &:hover {
      .product-swiper { 
        .swiper-button-next, .swiper-button-prev {
          display: block !important;
          color: $black !important;
        }
      }
    }
  }
}