<nav [ngClass]="{'scrolled': isScrolled}" class="navbar px-4">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <!-- Logo -->
    <a class="navbar-brand fs-3" href="#">Mandisa</a>

  
 <!-- Toggle icon / close button on mobile -->
  <button class="mobile-toggle d-lg-none" (click)="toggleMobileMenu()">
    <span *ngIf="!mobileMenuOpen">&#9776;</span> 
    <span *ngIf="mobileMenuOpen" class="close-btn">✕</span> <!-- ✕ -->
  </button>

    <!-- Desktop Menu -->
    <div class="mx-auto d-none d-lg-block">
      <ul class="navbar-nav d-flex flex-row gap-3">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Skin & Bodycare</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Egyptian Cotton</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Honey</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Herbs & Spices</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Essential Oils</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About Mandisa</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Fullscreen Menu -->
<div class="mobile-menu d-lg-none" [class.open]="mobileMenuOpen">
  <button class="close-btn" (click)="closeMobileMenu()">✕</button>

  <div class="menu-links">
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Skin & Bodycare</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Egyptian Cotton</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Honey</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Herbs & Spices</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Essential Oils</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">About Mandisa</a></li>
    <li class="nav-item"><a class="nav-link" href="#" (click)="closeMobileMenu()">Contact Us</a></li>
  </div>
</div>